* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #d1f6ff;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgba(192, 233, 247, 0.623);
}

#rodape {
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 40px;
    position: static;
    width: 100%;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}